#library {
    display: flex;
    flex-direction: column;
}

#library > * {
    margin: 0.3em
}

form {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:2em;
}

li.book {
    list-style-type:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10em;

}

.hidden {
    display: none;
    position: absolute;
    z-index: auto;
}

li.hidden > .buttons {
    display: none;
}

.book.seen {
    border: 2px solid yellow;
}

ul .read.seen {
    border: 2px solid green;
}